@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Bootstrap Icons only */
@import 'bootstrap-icons/font/bootstrap-icons.css';

/* Smooth scroll */
:root {
  scroll-behavior: smooth;
}

/* General Styling */
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
